.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: white;
    min-width: 600px;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.icon {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.modalBody {
  display: grid;
  grid-template-columns: 75% 25%;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btnContainer button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}

.btnContainer button.clear {
  background-color: lightblue;
  color: gray;
}

.btnContainer button.buy {
  background-color: violet;
  color: gold;
}